@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.cal-container {
    position: relative;
    left: 750px;
    width: 355px;
    background-color: black;
    padding: 15px;
    border-radius: 30px;
}

.cal-calculate {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 5px;
    color: gray;
}

.cal-screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 55px;
    font-size: 65px;
    margin-bottom: 10px;
    color: whitesmoke;
    padding-left: 0 15px;
    overflow: hidden;
}

.cal-btn-content {
    display: flex;
    gap: 7.5px;
    width: 100%;
    margin-top: 7.5px;
}

.cal-btn {
    width: 25%;
    height: 75px;
    border: none;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
}

.cal-btn:hover {
    opacity: 0.7;
}

.cal-btn.number {
    font-size: 30px;
    color: whitesmoke;
    background-color: #313131;
}

.cal-btn.number.zero {
    text-align: start;
    padding: 0 20px;
    width: 75%;
    border-radius: 50px;
}

.cal-btn.left {
    font-size: 34px;
    color: whitesmoke;
    background-color: #FEA00A;
}

.cal-btn.top {
    font-size: 26px;
    color: black;
    background-color: #A0A0A0;
}