.products-item-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 660px;
}

.products-container {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 20px;
    text-align: center;
}

.carts-item-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 560px;
}

.carts-container {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 20px;
    text-align: center;
}